<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kn4rfy.rn.geofence">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application android:allowBackup="true">
        <service android:name=".GeofenceTransitionsIntentService"/>
    </application>
</manifest>
  